.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;

    .service-wrapper {
        width: 65%;
        margin: 100px 0;
        h1{
            color: rgb(219, 30, 50);
            font-size: 36px;
            font-weight: 500;
            margin: 0;
        }
        .cards {
            margin: 100px 0;
            display: flex;
            justify-content: center;

            p {
                color: gray;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                transition: transform 0.7s ease;
                filter: grayscale(100%);
                transition: filter .7s ease-in-out;

                &:hover {
                    filter: none;
                    transform: translateY(-5px);
                }
            }
        }
    }
}
